$primary-900: #280F31;
$primary-700: #5E2273;
$primary-500: #9336B4;
$primary-300: #B86CD3;
$primary-100: #D8ADE7;

$grey-900: #111111;
$grey-700: #3c3c3c;
$grey-500: #666666;
$grey-300: #919191;
$grey-100: #bbbbbb;