$background-color: #FCFCFC;

$primary-color: #B71C1C;
$secondary-color: #E57373;
$light-body-color: #616161;
$body-color: #212121;
$border-color: #BDBDBD;


/*
Font
*/
$font-size: 18px;

/*
Page
*/
$page-width-lg: 85%;
$page-width-sm: 100%;
$content-width: 960px;

/*
Responsive
*/
$screen-sm: 768px;

@mixin page-width() {
    width: $page-width-sm;

    @media (min-width: $screen-sm) {
        width: $page-width-lg;
    }
}


$font: 'Spartan', sans-serif;

/*
Font
*/
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
  font-family: $font;
  font-size: $font-size;
  letter-spacing: 0.03em;
}

/*
Typography
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: $font;
  font-weight: normal;
}

h1 {
  font-size: 1.8rem;
}

h2 {
  font-size: 1.6rem;
}

a {
  text-decoration-thickness: 1px;
  color: $primary-color;
  outline: none;
  transition: color 150ms ease;
  font-family: $font;
  font-weight: 900;

  &:hover {
    color: $secondary-color;
  }
}

blockquote {
  // background-color: $grey-900;
  padding: 0.1em 1em;
  border-radius: 0.5em;
  margin: 1em 0;
}

p {
  line-height: 1.5;
  margin-top: 0.5rem;
}

em {
  color: $light-body-color;
}

li {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

blockquote {
  font-style: italic;
  color: $light-body-color;
}

/*
Page
*/
body {
  background-color: background-color;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  color: $body-color;
}

main {
  @include page-width();
  flex: 1;
}

nav {
  @include page-width();
  padding: 1rem;
  font-size: 1.25rem;
  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @media (min-width: $screen-sm) {
    justify-content: space-between;
  }

  section.links {
    display: flex;
    align-items: center;

    a {
      margin-right: 1em;
    }
  }
}

footer {
  @include page-width();
  padding: 1rem;
  font-family: $font;

  p {
    text-align: center;
  }
}

/*
Sections
*/
section {
  &.content {
    padding: 2rem;
    max-width: $content-width;
    margin: 0 auto;

    .post-link {
      border-bottom: 1px solid $border-color;
      padding-bottom: 1rem;
      margin-top: 1rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      a.title {
        font-size: 1.4rem;
        font-weight: bold;
      }

      .text {
        margin-bottom: 1rem;
      }

      @media (min-width: $screen-sm) {
        .text {
          max-width: 65%;
        }

        .thumbnail {
          max-width: 33%;
        }
      }
    }

    .title {
      h1 {
        font-weight: 900;
        margin-bottom: 1rem;
      }
    }

    .hero {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }

    img {
      max-width: 100%;
      max-height: 90vh;
      width: auto;
      height: auto;
      margin: 0 auto;
      display: block;
    }
    
    h1, h2 {
      &:not(:first-child) {
        margin-top: 1.5rem;
      }
    }
  }
}
