doctype html
html
  head
    title Justin Leniger
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(hid='description', name='description', content=description)
    link(rel='icon', type='image/x-icon', href='/favicon.ico')
    link(rel='stylesheet' href='style.css')
    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin)
    link(href='https://fonts.googleapis.com/css2?family=Alegreya&display=swap' rel='stylesheet')
  body
    nav
      each page in pages
        a(href=page.url)
         = page.name
    main
      block content
    footer
     p
      = `© ${ new Date().getFullYear() }, Justin Leniger`