<!DOCTYPE html>
<html>
  <head>
    <title>Justin Leniger</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta hid="description" name="description">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alegreya&amp;family=Spectral&amp;display=swap" rel="stylesheet">
  </head>
  <body>
    <nav>
      <h1>Justin Leniger</h1>
      <section class="links"></section>
    </nav>
    <main>
