<%- include('_header.ejs') -%>

  <h1>Get In Touch</h1>
  <form class="contact" name="contact" method="POST" data-netlify="true" action="/thank-you">

    <input type="hidden" name="form-name" value="contact" />
    <div class="field">
      <label for="name">Your name</label>
      <input type="name" name="name" id="name" placeholder="John Q. Sample" />
    </div>
    <div class="field">
      <label for="email">Your email</label>
      <input type="email" name="email" id="email" placeholder="johnqsample@example.com" />
    </div>
    <label for="message">Your message</label>
    <textarea name="message" id="message" placeholder="Message" cols="30" rows="10"></textarea>
    <input type="submit" value="submit" />
  </form>

<%- include('_footer.ejs') -%>